li#accordion-section-national-news,
li#customize-control-national_news_banner_featured_posts_sub_heading,
li#customize-control-national_news_banner_featured_posts_title,
li#customize-control-national_news_banner_featured_posts_content_type,
li#customize-control-national_news_banner_featured_posts_post_1,
li#customize-control-national_news_banner_featured_posts_post_2,
li#customize-control-national_news_banner_featured_posts_post_3,
li#customize-control-national_news_banner_featured_posts_post_4,
li#customize-control-national_news_banner_news_sub_heading,
li#customize-control-national_news_banner_news_title,
li#customize-control-national_news_banner_news_content_type,
li#customize-control-national_news_banner_news_post_1,
li#customize-control-national_news_banner_news_post_2,
li#customize-control-national_news_banner_news_post_3,
li#customize-control-national_news_banner_news_post_4,
li#customize-control-national_news_banner_news_post_5,
li#customize-control-national_news_archive_grid_column_layout {
	display: none !important;
}