#customize-controls .control-section-national-newscast .accordion-section-title:hover,
#customize-controls .control-section-national-newscast .accordion-section-title:focus {
	background-color: #000000;
	color: #fff;
}

.control-section-national-newscast .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #df2e38;
	border-color: #df2e38;
	color: #fff;
}

.rtl .control-section-national-newscast .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-national-newscast h3.accordion-section-title {
    background-color: #000000;
    color: #fff;
}
